server {
    listen 80;
    server_name default_server;
    location /api {
        proxy_pass $NGINX_HOST_API;
    }
    location / {
        proxy_pass $NGINX_HOST_WEB;
    }
}

server {
    listen 80;
    server_name staff.localhost staff.<host-name>;
    location / {
        proxy_pass $NGINX_HOST_API;
    }
}