

# server {
#     listen 27017 so_keepalive=on;
#     listen 27020 so_keepalive=on;
#     proxy_connect_timeout 2s;
#     proxy_pass mongo;
#     proxy_timeout 10m;
# }


# upstream mongo {
#     server mongo:$NGINX_DOCKER_PORT;
# }